#container {
    max-width: 100%;
    height: auto;
}
#content {
    margin: 0;
    overflow: hidden; /* Fix på tabeller. Nu tvingas inte sidan till horizontell scroll pga stora tabeller (eller andra stora element). */
}

#navigation {
    width: 100%;
    margin: 0;
}
#logotyp {
    margin: auto;
}
#welcome1 {
    clear: left;
}
#resultat {
    border: 0;
    font-size: 80%;
}
#logotyp {
    max-width: 100%;
    height: auto;
}

.mobileLabel {
    margin-right: 20px;
}
.sektion {
    clear: left;
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.bloggadd {
    line-height: 1.2;
}

h3 {
    line-height: 1.4;
}
video {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}
select {
    max-width: 100%;
}
fieldset {
    display: block;
}
form p {
    line-height: 1.15;
}