#container {
    max-width: 100%;
    height: auto;
}
#content {
    margin: 0;
}

#navigation {
    width: 100%;
    margin: 0;
}
#logotyp {
    margin: auto;
}
#welcome1 {
    clear: left;
}
#resultat {
    background-image: url(pics/error.png);
}
#kontakta {
    display: none;
}

.sektion {
    clear: left;
    margin-top: 6px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.bloggadd {
    line-height: 1.2;
}

h3 {
    line-height: 1.4;
}
video {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}