/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/*

html, body, applet, object, iframe,
h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*dl, dt, dd,*//* ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers *//*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/*@import url(reset.css);
/*HÄR SLUTAR RESET-CSS*/

/*  
        --FÄRGER-- 
    Background main (content): #5EC4CD
    Background container: #206676
    Background header: #00E6E6
    Background navigation: #66CCAA
    Background footer: #35C0CD
    Text-color: #130873
    Border (container+footer): #100873
    Border (content+header): #2419B2
*/

body {
    line-height: 1;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}

h1 {
	margin: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 2em;
    font-weight: bold;
    color: #7FFF00;
}

h2 {
    font-family: Monaco, monospace;
    font-weight: bold;
    font-size: 2em;
    color: #C5802D;
}

h3 {
    color: #0000FF/*#191970*/;
    line-height: 18px;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-size: 1.2em;
    color: #191970;
    margin: 0;
    line-height: 18px;
}

h5 {
    color: #4C602A;
    font-size: 1em;
    margin: 0;
    line-height: 2;
}

hr {
    margin-top: 10px;
    margin-bottom: 14px;
    clear: both;
}

p, table, ol, ul {
    color: #800000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.95em;
}

/* Formulär */
form {
    color: #8B0000;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 0.85em;
}
form p {
    font-style: italic;
    line-height: 0.6;
}
input + p {
    margin-top: 24px;
}
label {
    text-align: right;
    margin-right: 2px;
}
select {
    margin-top: 3px;
    margin-bottom: 6px;
}
input {
    margin-top: 3px;
    margin-bottom: 6px;
}
fieldset {
    margin-bottom: 12px;
}
legend {
    margin-left: 4px;
    margin-right: 2px;
}
/* -FORMULÄR SLUT- */

dl {
    color: #3B4B21;
    font-size: 0.9em;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.1;
}

dt {
    font-weight: bolder;
}

dd {
    margin-left: 40px;
}

a {
    color: #EE3D1E;
    text-decoration: underline;
}
a:visited {
    color: #751947;
}
a:hover {
    font-weight: bold;
}
a:focus {
    font-style: italic;
}

/**** ===BEHÅLLARE=== ****/

header {
    font-family: "Comic Sans MS";
    background-color: #001F5C;
    line-height: 1;
    margin: 0;
    /*height: 112px;*/
    padding-bottom: 20px;
}

footer {
    background-color: #35C0CD;
    clear: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

#container {
    max-width: 1024px;
    margin: auto;
    background-color: #206676;
}

#navigation {
    margin-top: 28px;
    padding: 0;
    float:left;
    font-family: "Lucida Console";
    margin-left: 22px;
    width: 140px;
}

#content {
    min-height: 360px;
    padding: 24px;
    border: solid #2419B2 1px;
    margin-left: 202px;
    background-color: #5EC4CD;
}

/**** ===ID-TAGGAR=== ****/

#resultat {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#Kina {
    text-decoration: underline;
}

#welcome1 {
    /*margin-left: 100px;*/
    margin-left: 10px;
    padding-top: 16px;
}

#welcome2 {
    color: #664722;
	padding: 0;
	border: 0;
	margin-top: 14px;
	margin-left: 14px;
}

#logotyp {
    width: 94px;
    height: 110px;
    background-image: url("../pics/tard-satan.png");
    background-size: contain;
    float: right;
}

#navigation ul {
    list-style: none;
    /*width: 160px;*/
    max-width: 480px;
    padding: 0;
}

#navigation li a {
    display: block;
    font-style: normal;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 5px;
    background-color: #66CCAA;
}

#navigation li {
    margin: auto;
    min-width: 140px;
}


#navigation a:hover {
    background-color: #7FFFD4;
}

#navigation a:link {
    color: #EE3D1E;
    text-decoration: none;
}

#navigation a:visited {
    color: #DC143C;
    text-decoration: none;
}

#navigation a:focus {
    color: #E65B77;
    text-decoration: underline;
}



/**** ===KLASSER=== ****/

.active > a {
    font-weight: bold;
    text-decoration: underline;
}

.bloggadd:before {
    content: url(pics/blue-pentagram-hi-24.png);
}


.madeby {
    font-style: italic;
    font-size: 0.85em;
    color: #993D00;
    clear: both;
    margin-top: 28px;
}

.sektion {
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.rocker-hand {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 80%;
}

.submit {
    margin-left: 24px;
}

/* Externa länkar ska bara visas i klartext för print */
.utskrift {
    display: none;
}

/* Klass för bild */
.right img {
    border-width: 3px;	
    border-style: solid;
    border-color: #6495ED;
    margin-left: 16px;
    float: right;
}
.left video {
    border-width: 3px;	
    border-style: groove;
    border-color: #6495ED;
    margin-right: 20px;
    margin-bottom: 16px;
    float: left;
}

/* NYTT INFÖR SPRITES */
.sprite {
    float: left;
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 4px;
    background-image: url(pics/sprite.png);
}
#start-icon {
    background-position: 0 -48px;
}
#start-icon:hover {
    background-position: 0 0;
}
#labbs-icon {
    background-position: 0 -144px;
}
#labbs-icon:hover {
    background-position: 0 -96px;
}
#pres-icon {
    background-position: 0 -240px ;
}
#pres-icon:hover {
    background-position: 0 -192px;
}
#cont-icon {
    background-position: 0 -336px ;
}
#cont-icon:hover {
    background-position: 0 -288px ;
}

/*-- HTML5 / Laboration 5  --*/

article {
    background-color: #4B9DA4;
    padding: 6px;
}
article article {
    background-color: #A5CED2;
    margin: 10px;
    clear: both;
}
article h3:before {
    content: url(pics/blue-pentagram-hi-24.png);
}
article h4 {
    color: #FF6262;
    font-size: 1.05em;
}
article article p {
    color: 	#A34545;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 0.85em;
    margin-left: 14px;
}
.nocomments {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1;
    color: #82906A;
}

.vcard {
    padding-top: 4px;
    border: 2px double #660000;
    margin: auto;
    text-align: center;
    color: #E68A2E;
    background-color: #00004C;
    font-size: 0.9em;
    max-width: 250px;
}