/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe,
/*h4, h5, h6, */p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*@import url(reset.css);
/*HÄR SLUTAR RESET-CSS*/

/*  
        --FÄRGER-- 
    Background main (content): #5EC4CD
    Background container: #206676
    Background header: #00E6E6
    Background navigation: #66CCAA
    Background footer: #35C0CD
    Text-color: #130873
    Border (container+footer): #100873
    Border (content+header): #2419B2
*/
h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #D47F19;
}

h1 {
    font-family: "Comic Sans MS";
	border: 0;
	vertical-align: baseline;
	font-size: 2em;
    font-weight: bold;
    color: #7FFF00;
}

.welcome {
    font-family: "Comic Sans MS";
}

/*Nytt ovanför*/

p, form, table, ol, dl {
    color: #800000;
}

header {
    background-color: #001F5C;
    padding: 10px;
    height: 120px;
    border: solid #2419B2 1px;
    margin: 0;
}

header h3 {
    color: #00FFFF;
}

#logotype {
    display: block;
    width: 94px;
    height: 110px;
    background-image: url("../pics/tard-satan.png");
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#container {
    max-width: 1024px;
    min-height: 600px;
    margin: auto;
    border: solid #100873 2px;
    background-color: #206676;
}

/*#header {
    padding: 10px;
    height: 120px;
    border: solid #2419B2 1px;
    background-color: #00E6E6;
    font-family: Comic;
    font-size: 2em;
    margin: 0;
}*/

#navigation {
    margin-top: 16px;
    padding: 0;
    /*width: 200px;
    height: 400px;*/
    float:left;
    font-family: "Lucida Console";
    font-size: 17px;
}

#content {
    padding: 40px;
    border: solid #2419B2 1px;
    margin-left: 202px;
    background-color: #5EC4CD;
    font-family: Courier;
    line-height: 18px;
}

#kursblogg {
    color: #B80000;
}
                
footer {
    border: groove #100873 2px;
    background-color: #35C0CD;
    clear: left;
}

.bloggadd {
    list-style-image: url(pics/blue-pentagram-lowres.png);
    margin-left: auto;
    margin-right: auto;
}

.madeby {
    font-style: italic;
}

#navigation ul {
    list-style: none;
    width: 160px;
    padding: 0;
}

#navigation li a {
    display: block;
    font-style: normal;
    font-size: 12px;
    padding: 12px;
    margin-bottom: 5px;
    background-color: #66CCAA;
    /*margin-right: 40px;
    text-align: left;*/
}

#navigation li {
    margin: auto;
}


#navigation a:hover {
    background-color: #7FFFD4;
}

#navigation a:link {
    color: #008000;
}

#navigation a:visited {
    color: #387838;
}

#navigation a:focus {
    color: #9CBC9C;
}

.active > a {
    font-weight: bold;
}



