/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*-Modifierat av Emil Mokvist-*/
html, body, div, span, applet, object, iframe, 
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, /*tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*HÄR SLUTAR RESET-CSS*/

/*  
        --FÄRGER-- 
    Background main (content): #5EC4CD
    Background container: #206676
    Background header: #38B2CE
    Background navigation: #60B9CE
    Background footer: #35C0CD
    Text-color: #130873
    Border (container+footer): #100873
    Border (content+header): #2419B2
*/

p, form, table, ul, ol, dl {
    color: #800000;
}
h1 {
    color: #FF3300;
}
h2, h3, h4, h5, h6 {
    color: #D47F19;
}

#container {
    max-width: 960px;
    min-height: 600px;
    margin: auto;
    border: solid #100873 2px;
    background-color: #206676;
}

#header {
    padding: 14px;
    width: 400;
    height: 340;
    border: solid #2419B2 1px;
    background-color: #00E6E6;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
}
#navigation {
    margin-top: 16px;
    width: 220px;
    height: 400px;
    float:left;
    font-family: "Lucida Console";
}

#content {
    padding: 40px;
    border: solid #2419B2 1px;
    margin-left: 202px;
    background-color: #5EC4CD;
    font-family: Courier;
}
                
#pentagram1 {
    margin-left: 240px;
}

#kursblogg {
    color: #B80000;
}
                
footer {
    border: groove #100873 2px;
    background-color: #35C0CD;
    clear: left;
}

                
.active a {
    font-size: 15px;
    font-weight: bold;
    background-color: #75D1B2;
    text-align: center;
}
.madeby {
    font-style: italic;
}

#navigation li a {
    font-size: 12px;
    display: block;
    padding: 12px;
    margin-bottom: 5px;
    background-color: #66CCAA;
    border: 2px solid;
    margin-right: 40px;
    text-align: left;
}

#navigation li {
    list-style: none;
}

a:hover {
    background-color: #7FFFD4;
}

a:link {
    color: #008000;
}

a:visited {
    color: #387838;
}
a:focus {
    color: #9CBC9C;
}
